body {
  background: #f6f6f6;
  height: 100vh;
  overflow: hidden;
}

.sidebar {
  background: #ececec;
  height: 100vh;
  width: 200px;
  border-right: 2px solid #ccc;
}

.sidebar a {
  display: flex;
  align-items: center;
  padding: 12px 15px;
  color: #111;
  text-decoration: none;
  font-size: 16px;
  border-radius: 6px;
  margin: 5px 10px;
}
.sidebar .user-info {
  margin-bottom: 10px;
}

.sidebar a:hover,
.sidebar .active {
  background: #d3d3d3;
}

.sidebar i {
  margin-right: 10px;
}

.content {
  padding-top: 50px;
}

.input-box {
  background: #ddd;
  border-radius: 15px;
  border: none;
  padding: 15px 20px;
  width: 600px;
  outline: none;
  font-size: 16px;
}
.input-wrapper {
  width: 600px;
  position: relative;
}

.icon-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
  color: #555;
}

.upload-icon {
  left: 10px;
}

.mic-icon {
  right: 10px;
}

.input-box {
  background: #ddd;
  border-radius: 15px;
  border: none;
  padding: 15px 45px; /* Chừa chỗ 2 icon */
  width: 100%;
  outline: none;
  font-size: 16px;
}

.icon-btn:hover {
  color: #3d8bbe;
}

.btn-create {
  background: #3d8bbe;
  color: #fff;
  padding: 12px 30px;
  border-radius: 10px;
  border: none;
  font-size: 18px;
  margin-top: 20px;
}

.btn-create:hover {
  background: #2f6f96;
}
.divider {
  border-bottom: 2px solid #e2e2e2;
  margin: 10px 0;
}
.btn-login-sidebar {
  margin: 10px;
  background: #3d8bbe;
  color: #fff;
}
.btn-login-sidebar:hover {
  background: #2f6f96;
}
#loginBtn {
  background: #a9d0e8; /* Màu nhẹ hơn */
  border: none;
  font-size: 14px;
  font-weight: 500;
  border-radius: 8px;
  padding: 8px 0;
  margin: 10px;
  width: 80%;
  transition: 0.2s;
}

#loginBtn:hover {
  background: #7fb9d8;
}

/* Khối user khi đăng nhập */
#loggedInfo {
  background: #ffffff;
  border-radius: 12px;
  padding: 12px;
  margin: 5px 10px;
  border: 1px solid #ddd;
}

#loggedInfo i {
  background: #d9e7f0;
  color: #3d8bbe;
  padding: 10px;
  border-radius: 50%;
  transition: 0.2s;
}
#loggedInfo i:hover {
  background: #3d8bbe;
  color: #fff;
}

#userEmail {
  font-size: 14px;
  margin-top: 10px;
  font-weight: 600;
  color: #222;
}
