body {
  background: #eee;
}
.login-box {
  width: 450px;
}
h2 {
  text-align: center;
  font-weight: 700;
  color: #248ea4;
  margin-bottom: 25px;
}
.btn-login {
  background: #248ea4;
  border: none;
  padding: 12px;
  font-size: 18px;
  font-weight: 600;
}
.btn-login:hover{
    opacity: 0.8;
}
.social-icon {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid #ddd;
  margin: 0 5px;
  cursor: pointer;
  transition: 0.3s;
}
.social-icon:hover {
  background: #ddd;
}
.input-group-text {
  background-color: #fff !important;
}
