body {
  background-color: #f1f5f9;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}
.register-container {
  background: #fff;
  padding: 40px 45px;
  border-radius: 14px;
  width: 750px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
}
h2 {
  text-align: center;
  font-weight: 700;
  color: #248ea4;
  margin-bottom: 25px;
}
.btn-register {
  background: #248ea4;
  border: none;
  padding: 12px;
  font-size: 18px;
  font-weight: 600;
}
.btn-register:hover{
    opacity: 0.8;
}
a {
  color: #248ea4;
}
